<div class="component">
	<% if component.data != "" %>
	    <% resources = Cloudinary::Api.resources_by_tag(component.data) %>
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img center-block src="<%= resources.first.last.first["url"] %>">
					<div class="carousel-caption"></div>
				</div>
				
				<% resources.first.last[1..-1].each do |image|%>
				<%= render partial: 'image', locals: {image: image["url"]}%>
				<% end %>
			</div>
			<% if resources.first.last.length > 1 %>
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			<% end %>
		</div>
	<% end %>
	
	<%= link_to 'Edit', edit_component_path(component) %><br/>
    <%= link_to 'Destroy', component_path(component), method: :delete, data: { confirm: 'Are you sure?' } %><br/>
</div>
