<div class="component">
	<div style="margin-left: 40px"><%= markdown component.data %><br/></div>

    <%= link_to 'Edit', edit_component_path(component) %><br/>
    <%= link_to 'Destroy', component_path(component), method: :delete, data: { confirm: 'Are you sure?' } %><br/>
</div>